
{% extends 'base.html' %}


{% block content %}
    <h1>Log In</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" />
            <label for="password">Password</label>
            <input type="password" name="passwod" class="form-control" placeholder="Password" />
            <input type="submit" class="btn btn-primary w-100" />
        </div>
    </form>
{% endblock content %} 