{% extends 'base.html' %}


{% block content %}
    <h1>Sign Up</h1>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email" />
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" />
            <label for="password">Password</label>
            <input type="password" name="passwod" class="form-control" placeholder="Password" />
            <label for="confirmPass">Confirm Password</label>
            <input type="password" name="confirmPass" class="form-control" placeholder="Confirm Password" />
            <input type="submit" class="btn btn-primary w-100" />
        </div>
    </form>
{% endblock content %}  